html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.layui-logo {
  background-color: #23262E !important;
}
.layui-logo .logo {
  width: 62%;
}
.layui-footer {
  text-align: center;
  font-size: 12px;
}
.iconfont {
  margin-right: 10px;
}
.icon-tuichu {
  margin-right: 0;
}
.layui-icon {
  margin-right: 5px;
  margin-left: 20px;
}
iframe {
  width: 100%;
  height: 100%;
}
.layui-body {
  overflow: hidden;
}
a {
  transition: none !important;
}
.userInfo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}
.layui-side-scroll {
  width: 200px;
}
.layui-side-scroll .userInfo {
  border-bottom: 1px solid #23262E;
}
.text-avatar {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #009688;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
